body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
form {
    background-color: rgb(0, 225, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[name="nombre"] {
    background-color: #e6f3ff;
}
input[name="fecha"] {
    background-color: #fff0e6;
}